.flex-all-center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn{
    background-color: var(--brand-bg-clr);
    font-family: 'Nunito Sans', sans-serif;
    border: 2px solid white;
    font-size: 2.5vh;
    cursor: pointer;
    color: white;
    padding: 0 5px;
}
.my1{
    text-align: center;
    font-weight: bold;
    padding: 1vh 0;
}
.my2{
    text-align: center;
    color: rgb(106, 202, 106);
    padding: 1vh 0;
}
.my3{
    text-align: center;
    color: gray;
    padding: 1vh 0 0 0;
}
h2{
    margin: 10vh 0 0 5vw;
}